/*   RESOLUCIÓ PANTALLA 1920 x 1080   */


/*              LINKS              */
a:link,
a:visited,
a:active,
a:hover {
    font-weight: bold;
    text-decoration: none;
}

#enllaç:link {
    color: #B53F00;
}

#enllaç:visited {
    color: #c17d58;
}

#enllaç:hover {
    color: #F55600;
}

#enllaç:active {
    color: #752900;
}



/*              LLISTES             */
ul {
    list-style: none;
}




/*              TÍTOLS              */

h1 {
    font-size: 3em;
    color: white;
}

h2 {
    font-size: 1.5em;
    color: #752900;
    font-weight: bold;
    text-align: center;
}

h3,
h4 {
    font-size: 1.1em;
}

h4 {
    font-weight: bold;
    color: #F55600;
    margin: 0em;
}

h5 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #F55600;
}



/*              BODY                */

.degradat {
    background: linear-gradient(black 30%, #752900, #F55600, white) no-repeat center;
}

body {
    font-size: 1em;
    font-family: 'Amiri', serif;
    background-color: white;
}


/*              HEADER              */

#logo {
    width: 11em;
    height: 6em;
    margin: 1em;
}

#titol {
    margin: 1em;
}

#icons {
    display: flex;
    padding: 2em;
    justify-content: end;
    padding-right: 5em;
}

img[alt="carro compra"] {
    width: 3em;
    height: 3em;
    margin: 1em;
    position: relative;
    top: -1em;
}

img[alt="el teu perfil"] {
    width: 2em;
    height: 2em;
    margin: 1em;
    position: relative;
    top: -0.5em;
}


/*              FOOTER              */

footer {
    padding: 2em;
    margin-top: 5em;
    align-items: center;
    color: white;
    background-color: black;
}

img[alt="logotipo empresa"] {
    height: 3.5em;
    width: 3.5em;
}

#text-footer {
    color: #c17d58;
}

#text-footer b {
    color: #B53F00;
}

#copyright{
    font-size: 0.7em;
    color: lightgray;
    margin-top: 2.5%;
    
}



/*          CONTENEDORS 4 APARTATS   */

#clasiques {
    background-image: url(img/clasica.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3.5%
}

#acustiques {
    background-image: url(img/acustica.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3.5%
}

#electriques {
    background-image: url(img/electrica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3.5%
}

#baixos {
    background-image: url(img/baix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3.5%
}

#clasiques:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#acustiques:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#electriques:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#baixos:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.5s;
}


#clasiques h2 {
    margin-left: 30%;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #F55600;

}

#acustiques h2 {
    margin-left: 25%;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #F55600;
}

#electriques h2 {
    margin-left: 20%;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #F55600;

}

#baixos h2 {
    margin-left: 170%;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #F55600;

}



/*              FORM                */

#fotoFondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/guitarres/taller/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25em;
    padding: 2em;
    border-radius: 0.5em;
}

#fotoFondo p {
    position: relative;
    left: 2em;
    color: white;
    width: 55%;
    font-size: 1em;
    text-shadow: 1px 1px 2px black, 0 0 1em #F55600;
}

#input {
    border: 1px solid #752900;
}

#input:focus {
    border-color: #F55600;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #752900;
}

#formbutton {
    width: 20%;
    border-radius: 0.8em;
    border: 1px solid #752900;
    background-color: #752900;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

#formbutton:hover {
    background-color: white;
    color: #F55600;
}

.vertical {
    border-left: 5px solid #F55600;
    border-bottom: 5px solid #F55600;
    border-radius: 2%;
    padding-bottom: 5em;
}



/*              ID INDEX            */


#contenedorOpacity {
    margin: 3em;
    background-color: white;
    opacity: 0.5;
    border-radius: 2%;
}


#index {
    margin: 2em;
    padding: 2em;
    color: black;
}

/* #index img{
    width: 30%;
    height: 30%;
    margin-left: 1em;
} */

#index p {
    text-indent: 3em;
    letter-spacing: 0.1em;
}





/*              CARDS          */

#opacity {
    opacity: 0.8;
}


/* #apartats img{
    width: 12em;
    height: 12em;   
    display: block;
    margin-left: 4em;
}

#apartats img:hover{
    opacity: 0.7;
} */

.card-text{
    text-indent: 2em;
    letter-spacing: 0.1em;
    font-size: 1em;
}

#boto {
    padding: 0.5em 1em;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    position: relative;
    background-color: white;
    color: #B53F00;
    border: 2px solid #B53F00;
}

#boto:hover {
    background-color: #B53F00;
    color: white;
}



/*              ID CONTENEDOR         */

/* .contenedor{
    padding: 2em;
    width: 90%;
}

.ubi{
    position: relative;
    top: -0.5em;
    left: 1em;
    font-size: 0.8em;
    width: 20em;
}

.filtros{
    margin: 2em;
    width: 15%;
    height: 25em;
    overflow: scroll;
    overflow-x: hidden;
    float: left;
    margin-top: 0em;
}


.tres div p{
    line-height: 1.5em;
    letter-spacing: 0.1em;
    margin-left: 4em;
}
*/
.tres img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.5s;
    border: 1px solid #752900;
}

.tres a{
    width: 11em;
    border-radius: 0.8em;
    border: 1px solid #752900;
    background-color: #752900;
    color: white;
    font-weight: bold;
    font-size: 1em;
    position: relative;
} 

.tres a:hover{
    background-color: #B53F00;
    color: white;
    border: #B53F00 ;

}